@model OctAPITry.Models.tblStudent
@{
    ViewBag.Title = "SearchStudentToEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchStudentToEdit</h2>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Enter Roll Number</td>
            <td>@Html.TextBoxFor(x => x.roll)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search" /></td>

        </tr>
    </table>
}

